// COLORS ======================== //
$color-black: #01000A;
$color-white: #fff;
$color-grey: #F5F5F5;
$color-01: #0074BA;
$color-02: #E6F2F9;
// FONTS ======================== //
$font_1: 'Coinbase Sans';
// FONTS Size ======================== //
// ANIMATION ======================== //
$transition_3s: all 0.3s ease-in-out;
$transition_7s: all 0.7s ease-in-out;