@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

:root {
  font-size: 62.5%;
}

body {
  background: #fff;
  color: #01000A;
  font-family: "Coinbase Sans";
  overflow-x: hidden;
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: -0.03rem;
  line-height: normal;
  position: relative;
}

*:not(s) {
  outline: none !important;
  text-decoration: none;
}

button {
  transition: all 0.3s ease-in-out;
}

a {
  transition: all 0.3s ease-in-out;
  text-decoration: none !important;
  color: #01000A;
}
a:hover {
  color: #0074BA;
}

ol,
ul {
  list-style: none;
  padding: 0;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0 10rem;
}

.text_underline {
  text-decoration: underline !important;
}

.site-header {
  padding: 0;
}

.site-main {
  padding: 0;
}

.widget-area {
  padding: 0;
}

.site-footer {
  padding: 0;
}

.section_margin_bottom {
  margin: 0 0 10rem;
}

.section_margin {
  margin: 10rem 0;
}

.section_padding {
  padding: 10rem 0;
}

button {
  border: none;
  box-shadow: none;
}

/* clears the ‘X’ from Internet Explorer */
input[type=search]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=search]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* clears the ‘X’ from Chrome */
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

.input_text {
  background: #fff;
  border: 0.1rem solid rgba(1, 0, 10, 0.12);
  border-radius: 0;
  color: #01000A;
  font-size: 1.9rem;
  font-weight: 300;
  padding: 1.5rem 3rem;
  min-height: 7.5rem;
  line-height: normal;
  box-shadow: none !important;
  outline: none !important;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.input_text:focus {
  background: #fff;
}
.input_text::-moz-placeholder {
  color: rgba(1, 0, 10, 0.4);
}
.input_text::placeholder {
  color: rgba(1, 0, 10, 0.4);
}

.nav button {
  border-radius: 0 !important;
}

.btn_1 {
  font-size: 1.4rem;
  font-weight: 400;
  padding: 1.5rem 2rem;
  color: #fff;
  background: transparent;
  text-align: center;
  transition: all 0.3s ease-in-out;
  line-height: normal;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  justify-content: flex-start;
  width: -moz-max-content;
  width: max-content;
  gap: 0 0.5rem;
  border-radius: 0.6rem;
  position: relative;
  z-index: 1;
  border: 0.1rem solid transparent;
}
.btn_1:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0 0 auto;
  background: linear-gradient(93.26deg, #0074BA 2.69%, #003454 225.23%);
  transition: all 0.3s ease-in-out;
  border-radius: 0.6rem;
  z-index: -1;
}
.btn_1 img {
  width: 1.8rem;
  filter: invert(0%);
}
.btn_1:hover {
  color: #0074BA;
  border-color: rgba(0, 116, 186, 0.2);
}
.btn_1:hover img {
  filter: invert(100%);
}
.btn_1:hover:after {
  opacity: 8%;
}
@media only screen and (max-width: 991px) {
  .btn_1 {
    font-size: 1.2rem;
    min-height: auto;
    padding: 1rem 1.5rem;
  }
}

.btn_2 {
  font-size: 1.4rem;
  font-weight: 400;
  padding: 1.5rem 2rem;
  color: #0074BA;
  background: transparent;
  text-align: center;
  transition: all 0.3s ease-in-out;
  line-height: normal;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  justify-content: flex-start;
  width: -moz-max-content;
  width: max-content;
  gap: 0 0.5rem;
  border-radius: 0.6rem;
  position: relative;
  z-index: 1;
  border: 0.1rem solid transparent;
}
.btn_2:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0 0 auto;
  background: #E6F2F9;
  transition: all 0.3s ease-in-out;
  border-radius: 0.6rem;
  z-index: -1;
}
.btn_2 img {
  width: 1.8rem;
  filter: invert(0%);
}
.btn_2:hover {
  color: #0074BA;
  border-color: rgba(0, 116, 186, 0.2);
}
@media only screen and (max-width: 991px) {
  .btn_2 {
    font-size: 1.2rem;
    min-height: auto;
    padding: 1rem 1.5rem;
  }
}

@font-face {
  font-family: "Coinbase Sans";
  src: url("fonts/CoinbaseSans-Bold.eot");
  src: url("fonts/CoinbaseSans-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/CoinbaseSans-Bold.woff2") format("woff2"), url("fonts/CoinbaseSans-Bold.woff") format("woff"), url("fonts/CoinbaseSans-Bold.svg#CoinbaseSans-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Coinbase Sans";
  src: url("fonts/CoinbaseSans-Regular.eot");
  src: url("fonts/CoinbaseSans-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/CoinbaseSans-Regular.woff2") format("woff2"), url("fonts/CoinbaseSans-Regular.woff") format("woff"), url("fonts/CoinbaseSans-Regular.svg#CoinbaseSans-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Coinbase Sans Extra";
  src: url("fonts/CoinbaseSans-ExtraLight.eot");
  src: url("fonts/CoinbaseSans-ExtraLight.eot?#iefix") format("embedded-opentype"), url("fonts/CoinbaseSans-ExtraLight.woff2") format("woff2"), url("fonts/CoinbaseSans-ExtraLight.woff") format("woff"), url("fonts/CoinbaseSans-ExtraLight.svg#CoinbaseSans-ExtraLight") format("svg");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Coinbase Sans";
  src: url("fonts/CoinbaseSans-Light.eot");
  src: url("fonts/CoinbaseSans-Light.eot?#iefix") format("embedded-opentype"), url("fonts/CoinbaseSans-Light.woff2") format("woff2"), url("fonts/CoinbaseSans-Light.woff") format("woff"), url("fonts/CoinbaseSans-Light.svg#CoinbaseSans-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Coinbase Sans";
  src: url("fonts/CoinbaseSans-Medium.eot");
  src: url("fonts/CoinbaseSans-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/CoinbaseSans-Medium.woff2") format("woff2"), url("fonts/CoinbaseSans-Medium.woff") format("woff"), url("fonts/CoinbaseSans-Medium.svg#CoinbaseSans-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
main {
  position: relative;
  overflow-x: clip;
}

#header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 99;
  transition: all 0.3s ease-in-out;
  width: 100%;
  inset: 0 0 auto;
  border-bottom: 0.1rem solid #E6F2F9;
  background: #fff;
}
#header.sticky .header_content .logo {
  width: 20rem;
}
#header .header_content {
  gap: 0 3rem;
  padding: 2rem 0;
  position: relative;
}
#header .header_content .navbar {
  margin: 0 auto 0 0;
  padding: 0;
}
#header .header_content .navbar .navbar-nav {
  gap: 2rem 1rem;
}
#header .header_content .navbar .navbar-nav .menu-item .nav-link {
  color: #01000A;
  text-transform: capitalize;
  position: relative;
  font-size: 1.4rem;
  font-weight: 400;
  padding: 0.5rem 1.5rem;
  letter-spacing: 0.01rem;
  border-radius: 0.6rem;
}
#header .header_content .navbar .navbar-nav .menu-item .nav-link:hover {
  background: #E6F2F9;
  color: #0074BA;
}
#header .header_content .navbar .navbar-nav .menu-item.active .nav-link {
  background: #E6F2F9;
  color: #0074BA;
}
#header .header_content .logo {
  display: block;
  line-height: 0;
  margin: 0 auto;
  position: absolute;
  inset: 1.6rem 0 auto;
  width: 5.2rem;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
#header .header_content .logo a {
  display: inline-block;
  width: 100%;
  line-height: 0;
}
#header .header_content .logo a img {
  width: 20rem;
}
#header .header_content .header_link {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem 1rem;
}
#header .header_content .header_link a {
  color: #01000A;
  text-transform: capitalize;
  position: relative;
  font-size: 1.4rem;
  font-weight: 400;
  padding: 0.5rem 1.5rem;
  letter-spacing: 0.01rem;
  border-radius: 0.6rem;
}
#header .header_content .header_link a:hover {
  background: #E6F2F9;
  color: #0074BA;
}

.section_title {
  margin: 0 0 4rem;
}
.section_title h2 {
  font-weight: 400;
  font-size: 4rem;
  line-height: 130%;
  color: #01000A;
  letter-spacing: -0.2rem;
  margin: 0 0 1rem;
}
.section_title p {
  font-size: 2rem;
  line-height: 130%;
  opacity: 70%;
  font-weight: 300;
}

.navbar-toggler {
  display: none;
}

.select2-dropdown {
  background: #E6F2F9;
  border: 0.1rem solid #E6F2F9;
  border-radius: 0.6rem !important;
  overflow: hidden;
}

.select2-results .select2-results__options {
  border: none;
}
.select2-results .select2-results__options li {
  outline: none !important;
  box-shadow: none;
  background: #fff;
  font-size: 1.4rem;
}
.select2-results .select2-results__options li.select2-results__option--highlighted {
  background: #0074BA;
}

.select2-container--default .select2-results__option[aria-selected=true] {
  background: #E6F2F9;
}

.language_select {
  position: relative;
}
.language_select .language_icon {
  position: absolute;
  inset: 0.25rem auto 0 0;
}
.language_select .language_icon img {
  width: 100%;
}
.language_select .select2-container {
  width: auto !important;
}
.language_select .select2-container.select2-container--open .select2-selection.select2-selection--single .select2-selection__arrow {
  transform: rotate(180deg);
}
.language_select .select2-container .select2-selection.select2-selection--single {
  background: none;
  border: none;
  border-radius: 0;
  height: auto;
  padding: 0 2.2rem 0 2.4rem;
}
.language_select .select2-container .select2-selection.select2-selection--single span {
  color: #01000A;
  font-size: 1.4rem;
  font-weight: 400;
  padding: 0;
}
.language_select .select2-container .select2-selection.select2-selection--single .select2-selection__arrow {
  background: url(../img/arrow_down_black.svg) no-repeat center center;
  background-size: 80%;
  top: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
}
.language_select .select2-container .select2-selection.select2-selection--single .select2-selection__arrow b {
  display: none;
}

.banner {
  background: url(../img/banner_shape.svg) no-repeat center bottom;
  background-size: cover;
  padding: 7rem 0;
  position: relative;
}
.banner:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0 0 auto;
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
}
.banner:before {
  content: "";
  width: 100%;
  height: 40%;
  position: absolute;
  inset: auto 0 -5rem;
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
  z-index: 2;
}
.banner_inner {
  text-align: center;
}
.banner_inner .banner_head {
  position: relative;
  z-index: 1;
  margin: 0 0 4rem;
}
.banner_inner .banner_head h1 {
  font-size: 5rem;
  letter-spacing: -0.1rem;
  font-weight: 300;
  line-height: 130%;
  margin: 0 0 1rem;
}
.banner_inner .banner_head p {
  font-size: 2rem;
  font-weight: 300;
}
.banner_inner .banner_head .banner_btns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  justify-content: center;
  gap: 1rem;
  margin: 3rem 0 0;
}
.banner_inner figure {
  position: relative;
  z-index: 1;
  line-height: 0;
}
.banner_inner figure img {
  width: 100%;
  max-width: 100rem;
  border-radius: 3rem;
  border: 1rem solid #E6F2F9;
  background: #fff;
  padding: 2rem 0;
}

.ebook_block {
  position: relative;
  z-index: 3;
  margin: -15rem 0 0;
}
.ebook_block_inner {
  background: linear-gradient(93.26deg, #0074BA 2.69%, #003454 225.23%);
  border-radius: 2.7rem;
  text-align: center;
  padding: 5rem;
  width: 100%;
  max-width: 103rem;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  transform: scale(0.8);
  z-index: 1;
}
.ebook_block_inner:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0 0 auto;
  background: url(../img/ebook_shape.svg) no-repeat center center;
  background-size: cover;
  opacity: 20%;
  z-index: -1;
}
.ebook_block_inner .section_title {
  margin: 0 0 2rem;
}
.ebook_block_inner .section_title h2 {
  color: #fff;
  margin: 0;
}
.ebook_block_inner .section_title p {
  color: #fff;
  margin: 0 0 1rem;
}
.ebook_block_inner .btn_2 {
  margin: 0 auto;
  display: block;
}

.customertrust_inner {
  text-align: center;
}
.customertrust_inner .customertrust_slider {
  width: 100%;
  max-width: 112rem;
  margin: 0 auto;
  overflow-x: hidden;
}
.customertrust_inner .customertrust_slider .swiper-slide {
  text-align: center;
}
.customertrust_inner .customertrust_slider .swiper-slide:hover figure {
  filter: grayscale(0);
}
.customertrust_inner .customertrust_slider .swiper-slide figure {
  line-height: 0;
  transition: all 0.3s ease-in-out;
  filter: grayscale(1);
}
.customertrust_inner .customertrust_slider .swiper-slide figure img {
  width: 100%;
  max-width: 16rem;
  height: 6rem;
  -o-object-fit: contain;
     object-fit: contain;
}
.customertrust_inner .customertrust_slider .swiper-pagination {
  position: static;
  margin: 3rem 0 0;
}
.customertrust_inner .customertrust_slider .swiper-pagination .swiper-pagination-bullet {
  background: none;
  width: 3rem;
  height: 0.3rem;
  border: none;
  background: #E6F2F9;
  opacity: 1;
  transition: all 0.3s ease-in-out;
  border-radius: 2rem;
}
.customertrust_inner .customertrust_slider .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #0074BA;
}

.journey_block .wrapper {
  padding-right: 0;
}
.journey_block_inner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  justify-content: flex-start;
}
.journey_block_inner .journey_block_left {
  width: 30%;
  padding: 0 5rem 0 0;
}
.journey_block_inner .journey_block_left h2 {
  font-size: 5rem;
  letter-spacing: -0.2rem;
  width: 100%;
  max-width: 40rem;
  line-height: 130%;
  margin: 0 0 2rem;
}
.journey_block_inner .journey_block_left .nav-pills .nav-link {
  background: none !important;
  text-align: left;
  padding: 0;
  margin: 0 0 2rem;
  opacity: 50%;
}
.journey_block_inner .journey_block_left .nav-pills .nav-link.active {
  opacity: 100%;
}
.journey_block_inner .journey_block_left .nav-pills .nav-link.active p {
  display: block;
}
.journey_block_inner .journey_block_left .nav-pills .nav-link.active a {
  display: inline-block;
}
.journey_block_inner .journey_block_left .nav-pills .nav-link strong {
  display: block;
  color: #01000A;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: -0.1rem;
  margin: 0 0 0.5rem;
}
.journey_block_inner .journey_block_left .nav-pills .nav-link p {
  color: #01000A;
  margin: 0 0 0.5rem;
  font-size: 1.4rem;
  font-weight: 400;
  display: none;
}
.journey_block_inner .journey_block_left .nav-pills .nav-link figure {
  display: none;
}
.journey_block_inner .journey_block_left .nav-pills .nav-link a {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.4rem;
  color: #0074BA;
  gap: 0 0.3rem;
  display: none;
}
.journey_block_inner .journey_block_left .nav-pills .nav-link a img {
  width: 0.7rem;
}
.journey_block_inner .journey_block_left .journey_block_btns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  justify-content: flex-start;
  gap: 1rem;
}
.journey_block_inner .journey_block_right {
  flex: 1 1 0;
  padding: 5rem;
  background: #E6F2F9;
  border-radius: 5rem 0 0 5rem;
}
.journey_block_inner .journey_block_right .tab-content .tab-pane figure {
  line-height: 0;
}
.journey_block_inner .journey_block_right .tab-content .tab-pane figure img {
  width: 100%;
  -webkit-backdrop-filter: drop-shadow(6.2rem -0.8rem 2.6rem black);
          backdrop-filter: drop-shadow(6.2rem -0.8rem 2.6rem black);
  border-radius: 4.5rem;
  border: 1rem solid #fff;
}

.report_block_inner .report_slider {
  overflow-x: hidden;
}
.report_block_inner .report_slider .swiper-slide .report_box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  justify-content: flex-start;
  gap: 2rem 3rem;
}
.report_block_inner .report_slider .swiper-slide .report_box_img {
  width: 50%;
}
.report_block_inner .report_slider .swiper-slide .report_box_img figure {
  line-height: 0;
}
.report_block_inner .report_slider .swiper-slide .report_box_img figure img {
  width: 100%;
  border-radius: 5rem;
  -webkit-backdrop-filter: drop-shadow(6.2rem -0.8rem 2.6rem black);
          backdrop-filter: drop-shadow(6.2rem -0.8rem 2.6rem black);
}
.report_block_inner .report_slider .swiper-slide .report_box_text {
  flex: 1 1 0;
  background: #E6F2F9;
  padding: 5rem;
  border-radius: 5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.report_block_inner .report_slider .swiper-slide .report_box_text strong {
  font-size: 2rem;
  letter-spacing: -0.1rem;
  font-weight: 400;
  display: block;
}
.report_block_inner .report_slider .swiper-slide .report_box_text h2 {
  font-size: 5rem;
  letter-spacing: -0.2rem;
  width: 100%;
  line-height: 130%;
  margin: 0 0 1rem;
}
.report_block_inner .report_slider .swiper-slide .report_box_text p {
  font-size: 2rem;
  font-weight: 300;
}
.report_block_inner .report_slider .swiper-slide .report_box_text .btn_1 {
  margin: 3rem 0 0;
}
.report_block_inner .report_slider .swiper-pagination {
  position: static;
  margin: 3rem 0 0;
}
.report_block_inner .report_slider .swiper-pagination .swiper-pagination-bullet {
  background: none;
  width: 3rem;
  height: 0.3rem;
  border: none;
  background: #E6F2F9;
  opacity: 1;
  transition: all 0.3s ease-in-out;
  border-radius: 2rem;
}
.report_block_inner .report_slider .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #0074BA;
}

.aboutappletun {
  position: relative;
  z-index: 3;
}
.aboutappletun_inner {
  background: linear-gradient(93.26deg, #0074BA 2.69%, #003454 225.23%);
  border-radius: 2.7rem;
  text-align: center;
  padding: 10rem 5rem;
  width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.aboutappletun_inner:after {
  content: "";
  width: 100%;
  height: 90%;
  position: absolute;
  inset: auto 0 0;
  background: url(../img/main_icon_bg.svg) no-repeat center center;
  background-size: contain;
  opacity: 100%;
  z-index: -1;
}
.aboutappletun_inner .section_title {
  margin: 0;
}
.aboutappletun_inner .section_title h2 {
  color: #fff;
  margin: 0 0 1rem;
}
.aboutappletun_inner .section_title p {
  color: #fff;
  margin: 0 0 1rem;
  font-size: 1.6rem;
  letter-spacing: -0.01rem;
}
.aboutappletun_inner .btn_2 {
  margin: 3rem auto 0;
  display: block;
}

.footer_inner .footer_head {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 70rem;
  margin: 0 auto 4rem;
  position: relative;
}
.footer_inner .footer_head .foot_logo:after {
  content: "";
  width: 100%;
  max-width: 46.5rem;
  height: 0.1rem;
  display: block;
  background: #0074BA;
  position: absolute;
  inset: 51% 0 0 7.5rem;
}
.footer_inner .footer_head .foot_logo a {
  display: block;
}
.footer_inner .footer_head .foot_logo a img {
  width: 100%;
  max-width: 6.5rem;
}
.footer_inner .footer_head ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}
.footer_inner .footer_head ul li a {
  color: #0074BA;
  width: 3rem;
  height: 3rem;
  border: 0.1rem solid #0074BA;
  border-radius: 50%;
  font-size: 1.4rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}
.footer_inner .footer_head ul li a:hover {
  background: #0074BA;
  color: #fff;
}
.footer_inner .footer_links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  justify-content: center;
  gap: 2rem 13rem;
}
.footer_inner .footer_links .foot_link h2 {
  font-size: 2rem;
  font-weight: 400;
  margin: 0 0 1.5rem;
  letter-spacing: -0.01rem;
}
.footer_inner .footer_links .foot_link ul li:not(:last-child) {
  margin: 0 0 1.5rem;
}
.footer_inner .footer_links .foot_link ul li a {
  font-size: 1.6rem;
  letter-spacing: -0.01rem;
  font-weight: 400;
  opacity: 70%;
}
.footer_inner .footer_links .foot_link ul li a:hover {
  opacity: 100%;
}
.footer_inner .footer_links .foot_link_two {
  max-width: 60rem;
}
.footer_inner .footer_links .foot_link_two ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  justify-content: flex-start;
  gap: 0 1rem;
}
.footer_inner .footer_links .foot_link_two ul li {
  width: calc(50% - 0.5rem);
}
.footer .copyright {
  background: #0074BA;
  padding: 1.5rem 0;
  margin: 5rem 0 0;
}
.footer .copyright_inner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}
.footer .copyright_inner .language_select .select2-container .select2-selection.select2-selection--single span {
  color: #fff;
}
.footer .copyright_inner .language_select .select2-container .select2-selection.select2-selection--single .select2-selection__arrow {
  background: url(../img/arrow_down_white.svg) no-repeat center center;
}
.footer .copyright_inner p {
  margin: 0 auto;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 300;
}
.footer .copyright_inner .foot_tc {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}
.footer .copyright_inner .foot_tc li:not(:last-child) a:after {
  content: "|";
  margin: 0 0.8rem;
  font-weight: 300;
}
.footer .copyright_inner .foot_tc li a {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 300;
}

.nav_open {
  overflow: hidden;
}

.welcome_block_inner {
  text-align: center;
}
.welcome_block_inner > p {
  font-size: 1.6rem;
  font-weight: 300;
  width: 100%;
  max-width: 100rem;
  margin: 0 auto;
}

.whyappletun_inner .section_title {
  text-align: center;
}
.whyappletun_inner .whyappletun_items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  justify-content: flex-start;
  gap: 2rem;
}
.whyappletun_inner .whyappletun_items .whyappletun_item {
  width: calc(33.33% - 1.5rem);
  border: 0.1rem solid #E6F2F9;
  background: #fff;
  border-radius: 2rem;
  padding: 3rem;
}
.whyappletun_inner .whyappletun_items .whyappletun_item_inner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 2rem;
}
.whyappletun_inner .whyappletun_items .whyappletun_item figure {
  line-height: 0;
  margin: 0 0 1.5rem;
}
.whyappletun_inner .whyappletun_items .whyappletun_item figure img {
  width: 6rem;
  height: 6rem;
  -o-object-fit: contain;
     object-fit: contain;
}
.whyappletun_inner .whyappletun_items .whyappletun_item h3 {
  font-size: 1.8rem;
  font-weight: 400;
  color: #0074BA;
  background: #E6F2F9;
  border-radius: 0.4rem;
  padding: 1rem 2rem;
  margin: 0 0 1rem;
  display: inline-block;
}
.whyappletun_inner .whyappletun_items .whyappletun_item p {
  font-size: 1.6rem;
}

.mainfeatures_inner {
  gap: 2rem 5rem;
}
.mainfeatures_inner .section_title figure {
  margin: 3rem 0 0;
}
.mainfeatures_inner .section_title figure img {
  width: 100%;
}
.mainfeatures_inner .mainfeatures_items {
  flex: 1 1 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  justify-content: flex-start;
  gap: 2rem;
}
.mainfeatures_inner .mainfeatures_items .mainfeatures_item {
  width: calc(50% - 1rem);
  padding: 3rem;
  background: #E6F2F9;
  border-radius: 1rem;
  gap: 1rem;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
}
.mainfeatures_inner .mainfeatures_items .mainfeatures_item figure {
  width: 4rem;
}
.mainfeatures_inner .mainfeatures_items .mainfeatures_item figure img {
  width: 100%;
  height: 4rem;
  -o-object-fit: contain;
     object-fit: contain;
}
.mainfeatures_inner .mainfeatures_items .mainfeatures_item .mainfeatures_text {
  flex: 1 1 0;
}
.mainfeatures_inner .mainfeatures_items .mainfeatures_item .mainfeatures_text h3 {
  font-weight: 500;
}
.mainfeatures_inner .mainfeatures_items .mainfeatures_item .mainfeatures_text p {
  font-size: 1.4rem;
}

.howitworks_inner .section_title {
  text-align: center;
}
.howitworks_inner .howitworks_scenario_main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  justify-content: flex-start;
  gap: 2rem;
}
.howitworks_inner .howitworks_scenario_main .howitworks_scenario {
  flex: 1 1 0;
  border: 0.1rem solid #E6F2F9;
  border-radius: 3rem;
  padding: 5rem;
}
.howitworks_inner .howitworks_scenario_main .howitworks_scenario .howitworks_scenario_head p {
  font-size: 1.6rem;
  margin: 0 0 1rem;
}
.howitworks_inner .howitworks_scenario_main .howitworks_scenario .howitworks_scenario_head p strong {
  font-weight: 500;
}
.howitworks_inner .howitworks_scenario_main .howitworks_scenario .howitworks_scenario_head h2 {
  font-size: 2.4rem;
  margin: 0 0 0.5rem;
}
.howitworks_inner .howitworks_scenario_main .howitworks_scenario ul {
  padding: 0 0 0 2rem;
  list-style: disc;
}
.howitworks_inner .howitworks_scenario_main .howitworks_scenario ul li {
  font-size: 1.4rem;
}
.howitworks_inner .howitworks_scenario_main .howitworks_scenario ul li:not(:last-child) {
  margin: 0 0 1rem;
  padding: 0 0 1rem;
  border-bottom: 0.1rem solid #E6F2F9;
}

.contactus_inner .contactus_block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  justify-content: flex-start;
  gap: 3rem 5rem;
}
.contactus_inner .contactus_block .contactus_box {
  flex: 1 1 0;
}
.contactus_inner .contactus_block .contactus_box figure {
  line-height: 0;
}
.contactus_inner .contactus_block .contactus_box figure img {
  width: 100%;
}
.contactus_inner .contactus_block .contactus_box form p {
  margin: 0 0 1rem;
}
.contactus_inner .contactus_block .contactus_box form p br {
  display: none;
}
.contactus_inner .contactus_block .contactus_box form p label {
  width: 100%;
}
.contactus_inner .contactus_block .contactus_box form p label .wpcf7-form-control-wrap {
  width: 100%;
  display: block;
  margin: 0.5rem 0 0;
}
.contactus_inner .contactus_block .contactus_box form p label .wpcf7-form-control-wrap .wpcf7-form-control {
  width: 100%;
  outline: none;
  background: rgba(230, 242, 249, 0.6);
  border: none;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  color: #01000A;
  border-radius: 1rem;
}
.contactus_inner .contactus_block .contactus_box form p label .wpcf7-form-control-wrap textarea {
  height: 10rem;
  resize: none;
}
.contactus_inner .contactus_block .contactus_box form .btn_1 {
  background: #0074BA;
}
.contactus_inner .contactus_block .contactus_box form .btn_1:after {
  display: none;
}
.contactus_inner .contactus_block .contactus_box form .btn_1:hover {
  background: #E6F2F9;
}

.customertrust_inner .section_title strong {
  font-size: 8rem;
  font-weight: 600;
}

.version_block_inner {
  text-align: center;
}
.version_block_inner figure {
  line-height: 0;
}
.version_block_inner figure img {
  width: 100%;
  max-width: 80rem;
}/*# sourceMappingURL=styles.css.map */